################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestFN2/v17/.suo
/.vs/finalProjectSkane/v17/.wsuo
